html,
body {
  color: #333;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 50px);
  padding: 10px 20px 0 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: #1192ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-bottom: 50px;
  padding: 30px;
  display: flex;
}

.item {
  display: inherit;
  width: 100px;
  height: 100px;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.item p {
  width: 100%;
  text-align: center;
  color: #fff;
}

.item:nth-of-type(1) {
  background-color: #f94144;
}

.item:nth-of-type(2) {
  background-color: #f3722c;
}

.item:nth-of-type(3) {
  background-color: #f8961e;
}

.item:nth-of-type(4) {
  background-color: #f9c74f;
}

.item:nth-of-type(5) {
  background-color: #90be6d;
}

.item:nth-of-type(6) {
  background-color: #f94144;
}

.item:nth-of-type(7) {
  background-color: #f3722c;
}

.item:nth-of-type(8) {
  background-color: #f8961e;
}

.item:nth-of-type(9) {
  background-color: #f9c74f;
}

.item:nth-of-type(10) {
  background-color: #90be6d;
}

@media only screen and (max-width: 580px) {
  .container {
    padding: 20px;
  }

  .item {
    width: 50px;
    height: 50px;
  }
}

footer {
  background: #f6f6f6;
  color: #333;
  height: 50px;
  padding: 2px 0 3px 15px;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer .heart {
  color: #e25555;
}
