/* align-content: flex-start | flex-end | center | stretch | space-between | space-around | space-evenly; */

.container {
  max-width: 600px;
  height: 300px;
  flex-wrap: wrap;
}

.item {
  background-color: red;
  height: auto;
}

.container.align-content-flex-start {
  align-content: flex-start;
}

.container.align-content-flex-end {
  align-content: flex-end;
}

.container.align-content-center {
  align-content: center;
}

.container.align-content-stretch {
  align-content: stretch;
}

.container.align-content-space-between {
  align-content: space-between;
}

.container.align-content-space-around {
  align-content: space-around;
}

.container.align-content-space-evenly {
  align-content: space-evenly;
}
